# Essential Secrets:
#CLOUDFLARE_API_TOKEN=""
#CLOUDFLARE_ACCOUNT_ID=""

CLOUDFLARE_AI_GATEWAY_TOKEN=""

# Provider specific secrets:
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""
#OPENROUTER_API_KEY="default" # Leave as-is if not going to set it
#GROQ_API_KEY="default" # Leave as-is if not going to set it

# Stuff for Oauths:
GOOGLE_CLIENT_SECRET="default" # Leave as-is if not going to set it
GOOGLE_CLIENT_ID="default" # Leave as-is if not going to set it

# GitHub OAuth
GITHUB_CLIENT_ID="default" # Leave as-is if not going to set it
GITHUB_CLIENT_SECRET="default" # Leave as-is if not going to set it

# Secrets for various internal services of this platform
JWT_SECRET="default" # Leave as-is if not going to set it
WEBHOOK_SECRET="default" # Leave as-is if not going to set it